@model List<ConferenceCalling.Models.Conference>
<div class="jumbotron">
    <h1>The conference system</h1>
    <p>Call +1786-408-8194 to join</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Create a new conference</h2>
        <p>
            @using (Html.BeginForm("Create", "Admin", FormMethod.Post)) {
                <label>
                    Conference name<br />
                    <input type="text" name="ConferenceName" id="ConferenceName"/>
                </label>
                <br />
                <label>
                    Pin code<br />
                    <input type="number" name="PinCode" />
                </label>
                <br />
                <input class="btn btn-default" type="submit" value="Create" />
            }
        </p>

    </div>
    <div class="col-md-6">
        <h2>Conferences</h2>
        <ul>
            @foreach (var conference in Model) {
                <li>@Html.ActionLink(conference.ConferenceName, "Details", new { id = conference.Id }): @conference.PinCode </li>
            }
        </ul>
    </div>
</div>

@section scripts
{
    <link href="~/Content/datepicker.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $('#ConferenceName').datepicker({
            format: 'mm-dd-yyyy'
        });
    </script>
}